<style>
  #shopify-section-{{ section.id }} {
    margin-top: {{ section.settings.marTop | times: 100 | divided_by: 1440.0 }}vw;
    margin-bottom: {{ section.settings.marBottom | times: 100 | divided_by: 1440.0 }}vw;
    {% if section.settings.backgroundImage != blank %}
    background: url({{ section.settings.backgroundImage | img_url: "1920x" }});
    {% elsif section.settings.backgroundImageSVG != blank %}
    background: url({{ section.settings.backgroundImageSVG }});
    {% endif %}
    position: relative;
    background-size: cover;
  }
  #shopify-section-{{ section.id }} .visibilityDiv {
  	padding-top: {{ section.settings.padTop | times: 100 | divided_by: 1440.0 }}vw;
    padding-bottom: {{ section.settings.padBottom | times: 100 | divided_by: 1440.0 }}vw;
  }
  #shopify-section-{{ section.id }} .textBgScroll {
    text-align: center;
    padding-left: {{ section.settings.padLeft | times: 100 | divided_by: 1440.0 }}vw;
    padding-right: {{ section.settings.padRight | times: 100 | divided_by: 1440.0 }}vw;	
  }
  @media only screen and (max-width: 1009px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ section.settings.marTopMob }}px;
      margin-bottom: {{ section.settings.marBottomMob }}px;
    }
    #shopify-section-{{ section.id }} .visibilityDiv {
  	  padding-top: {{ section.settings.padTopMob }}px;
      padding-bottom: {{ section.settings.padBottomMob }}px;
    }
    #shopify-section-{{ section.id }} .textBgScroll {
      padding-left: {{ section.settings.padLeftMob }}px;
      padding-right: {{ section.settings.padRightMob }}px;
    }
  }
</style>
{% if section.settings.backgroundImage != blank %}
<img style="visibility: hidden;" src="{{ section.settings.backgroundImage | img_url: "1200x" }}" class="fullWidth visibilityDivImg">
{% elsif section.settings.backgroundImageSVG != blank %}
<img style="visibility: hidden;" src="{{ section.settings.backgroundImageSVG }}" class="fullWidth visibilityDivImg">
{% endif %}

<div class="visibilityDiv visibilityDivMob">
  <div class="textBgScroll fullWidth">
    {% if section.settings.subtext != blank %}
            <p class="subtext-{{ section.id }} CCD">
              {{ section.settings.subtext }}
      		</p>
            <style>
              .subtext-{{ section.id }} {
                margin: 0; 
                letter-spacing: {{ section.settings.subtextLetter }}px; 
                font-size: {{ section.settings.subtextSize | times: 100 | divided_by: 1440.0 }}vw; 
                color: {{ section.settings.subtextColor }}; 
                line-height: {{ section.settings.subtextLine | times: 100 | divided_by: 1440.0 }}vw;
                text-align: {{ section.settings.subtextAlign }};
                margin-bottom: {{ section.settings.subtextMarBottom | times: 100 | divided_by: 1440.0 }}vw;
              }
              @media only screen and (max-width: 1009px) {
                .subtext-{{ section.id }} {
                  margin: 0; 
                  letter-spacing: {{ section.settings.subtextLetterMob }}px; 
                  font-size: {{ section.settings.subtextSizeMob }}px; 
                  color: {{ section.settings.subtextColorMob }}; 
                  line-height: {{ section.settings.subtextLineMob }}px;
                  text-align: {{ section.settings.subtextAlignMob }};
                  margin-bottom: {{ section.settings.subtextMarBottomMob }}px;
                }
              }
            </style>
        {% endif %}
      {% if section.settings.link != blank or section.settings.linkText != blank %}
            <div onclick="location.href='{{ section.settings.link }}'" class="buttonDiv buttonDiv-{{ section.id }}">
            <style>
              .buttonDiv-{{ section.id }} div:after {
              	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='51' height='52' viewBox='0 0 51 52' fill='none'%3E%3Cpath d='M20.9609 32.5547L30.9765 22.5392' stroke='{{ section.settings.subtextColor }}' stroke-width='2'%3E%3C/path%3E%3Cpath d='M21.7665 22.2535H31.2608V31.7478' stroke='{{ section.settings.subtextColor }}' stroke-width='2'%3E%3C/path%3E%3C/svg%3E");
              }
            </style>
            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="52" viewBox="0 0 51 52" fill="none">
            <path d="M20.9609 32.5547L30.9765 22.5392" stroke="{{ section.settings.subtextColor }}" stroke-width="2"/>
            <path d="M21.7665 22.2535H31.2608V31.7478" stroke="{{ section.settings.subtextColor }}" stroke-width="2"/>
            </svg>
            <div style="min-height: 52px; color: {{ section.settings.subtextColor }};" class="GT-600">{{ section.settings.linkText }}</div>
          </div>
            {% endif %}
  </div>
</div>
{% schema %}
  {
    "name": "Background with main font",
    "settings": [
		{
          "type": "text",
          "id": "marTop",
          "label": "Top margin (numbers only)"
        },
		{
          "type": "text",
          "id": "marBottom",
          "label": "Bottom margin (numbers only)"
        },
		{
          "type": "text",
          "id": "marTopMob",
          "label": "Top margin mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "marBottomMob",
          "label": "Bottom margin mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "padTop",
          "label": "Top padding (numbers only)"
        },
		{
          "type": "text",
          "id": "padBottom",
          "label": "Bottom padding (numbers only)"
        },
		{
          "type": "text",
          "id": "padLeft",
          "label": "Left padding (numbers only)"
        },
		
		{
          "type": "text",
          "id": "padRight",
          "label": "Right padding (numbers only)"
        },
		{
          "type": "text",
          "id": "padTopMob",
          "label": "Top padding mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "padBottomMob",
          "label": "Bottom padding mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "padLeftMob",
          "label": "Left padding mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "padRightMob",
          "label": "Right padding mobile (numbers only)"
        },
        {
          "type": "image_picker",
          "id": "backgroundImage",
          "label": "Background image"
        },
		{
          "type": "text",
          "id": "backgroundImageSVG",
          "label": "Background image SVG"
        },
		{
          "type": "header",
          "content": "Title Desktop"
        },
        {
          "type": "text",
          "id": "subtext",
          "label": "Title"
        },
		{
          "type": "text",
          "id": "subtextSize",
          "label": "Title Size (numbers only)"
        },
		{
          "type": "text",
          "id": "subtextLine",
          "label": "Title Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "subtextLetter",
          "label": "Title Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "subtextColor",
          "label": "Title color"
        },
		{
          "type": "select",
          "id": "subtextAlign",
          "label": "Title align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "subtextMarBottom",
          "label": "Title bottom margin (numbers only)"
        },
        {
          "type": "header",
          "content": "Title Mobile"
        },
		{
          "type": "text",
          "id": "subtextSizeMob",
          "label": "Title Size (numbers only)"
        },
		{
          "type": "text",
          "id": "subtextLineMob",
          "label": "Title Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "subtextLetterMob",
          "label": "Title Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "subtextColorMob",
          "label": "Title color"
        },
		{
          "type": "select",
          "id": "subtextAlignMob",
          "label": "Title align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "subtextMarBottomMob",
          "label": "Title mobile bottom margin (numbers only)"
        },
		{
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "linkText",
          "label": "Link text"
        }
	],
    "presets": [
      {
        "category": "General",
        "name": "Background with main font",
        "settings": {}
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

