
<style>

  
  #shopify-section-{{ section.id }} {
    margin-top: {{ section.settings.marTop | times: 100 | divided_by: 1440.0 }}vw;
    margin-bottom: {{ section.settings.marBottom | times: 100 | divided_by: 1440.0 }}vw;
    padding-top: {{ section.settings.padTop | times: 100 | divided_by: 1440.0 }}vw;
    padding-bottom: {{ section.settings.padBottom | times: 100 | divided_by: 1440.0 }}vw;
    padding-left: {{ section.settings.padLeft | times: 100 | divided_by: 1440.0 }}vw;
    padding-right: {{ section.settings.padRight | times: 100 | divided_by: 1440.0 }}vw;
    border-bottom: 1px solid rgba(195, 195, 195, .5);
    background-color: {{ section.settings.backgroundColor }};
  }
  @media only screen and (min-width: 1009px) {
.secondImagesection {    width: 35.39%!important;}
    
  }
  
  @media only screen and (max-width: 1009px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ section.settings.marTopMob }}px;
      margin-bottom: {{ section.settings.marBottomMob }}px;
      padding-top: {{ section.settings.padTopMob }}px;
      padding-bottom: {{ section.settings.padBottomMob }}px;
      padding-left: {{ section.settings.padLeftMob }}px;
      padding-right: {{ section.settings.padRightMob }}px;
    }
  }
</style>
<a id="{{ section.settings.anchor }}-anch" class="allAnchors"></a>
{% if section.settings.mainTitle != blank %}
            <h2 class="GT-400 customHeading applyAnimation mheading-{{ section.id }}">{{ section.settings.mainTitle }}</h2>
            <style>
              h2.mheading-{{ section.id }} {
                margin: 0; 
                letter-spacing: {{ section.settings.mainTitleLetter }}px; 
                font-size: {{ section.settings.mainTitleSize | times: 100 | divided_by: 1440.0 }}vw; 
                color: {{ section.settings.mainTitleColor }}; 
                line-height: {{ section.settings.mainTitleLine | times: 100 | divided_by: 1440.0 }}vw;
                text-align: {{ section.settings.mainTitleAlign }};
                margin-bottom: {{ section.settings.mainTitleMarBottom | times: 100 | divided_by: 1440.0 }}vw;
              }
              @media only screen and (max-width: 1009px) {
                h2.mheading-{{ section.id }} {
                  margin: 0; 
                  letter-spacing: {{ section.settings.mainTitleLetterMob }}px; 
                  font-size: {{ section.settings.mainTitleSizeMob }}px; 
                  color: {{ section.settings.mainTitleColorMob }}; 
                  line-height: {{ section.settings.mainTitleLineMob }}px;
                  text-align: {{ section.settings.mainTitleAlignMob }};
                  margin-bottom: {{ section.settings.mainTitleMarBottomMob }}px;
                }
              }
            </style>
        {% endif %}
<div class="flexDiv fullWidth custom-size-New applyAnimation">
    <div class="textDiv-{{ section.id }}">
    <style>
      {% assign boxDiv = 100 | minus: section.settings.textWidth | minus: section.settings.textMargin %}
      {% assign boxDiv2 = 100 | minus: section.settings.textWidthMob | minus: section.settings.textMarginMob %}
      .textDiv-{{ section.id }} {
        width: {{ section.settings.textWidth }}%;
        margin-right: {{ section.settings.textMargin }}%;
      }
      .boxDiv-{{ section.id }} {
        width: {{ boxDiv }}%;
      }
      @media only screen and (max-width: 1009px) {
      .textDiv-{{ section.id }} {
      	width: {{ section.settings.textWidthMob }}%;
        margin-right: {{ section.settings.textMarginMob }}%;
      }
      {% if boxDiv2 <= 0 %}
        .boxDiv-{{ section.id }} {
        	width: 100%;
        }
      {% else %}
        .boxDiv-{{ section.id }} {
        	width: {{ boxDiv2 }}%;
        }
      {% endif %}
      }
    </style>
      {% if section.settings.image != blank %}
      <img class="fullWidth come-in-1" src="{{ section.settings.image | img_url: "1200x" }}">
      {% endif %}
      {% if section.settings.title != blank %}
            <h2 class="GT-600 come-in-2 customHeading heading1-{{ section.id }}">{{ section.settings.title }}</h2>
            <style>
              h2.heading1-{{ section.id }} {
                margin: 0; 
                letter-spacing: {{ section.settings.titleLetter }}px; 
                font-size: {{ section.settings.titleSize | times: 100 | divided_by: 1440.0 }}vw; 
                color: {{ section.settings.titleColor }}; 
                line-height: {{ section.settings.titleLine | times: 100 | divided_by: 1440.0 }}vw;
                text-align: {{ section.settings.titleAlign }};
                margin-bottom: {{ section.settings.titleMarBottom | times: 100 | divided_by: 1440.0 }}vw;
                margin-top: 32px;
              }
              @media only screen and (max-width: 1009px) {
                h2.heading1-{{ section.id }} {
                  margin: 0; 
                  letter-spacing: {{ section.settings.titleLetterMob }}px; 
                  font-size: {{ section.settings.titleSizeMob }}px; 
                  color: {{ section.settings.titleColorMob }}; 
                  line-height: {{ section.settings.titleLineMob }}px;
                  text-align: {{ section.settings.titleAlignMob }};
                  margin-bottom: {{ section.settings.titleMarBottomMob }}px;
                  margin-top: 32px;
                }
              }
            </style>
        {% endif %}
      {% if section.settings.subtext != blank %}
            <p class="subtext-{{ section.id }} come-in-3 GT-400">
              {{ section.settings.subtext }}
      		</p>
            <style>
              .subtext-{{ section.id }} {
                margin: 0; 
                letter-spacing: {{ section.settings.subtextLetter }}px; 
                font-size: {{ section.settings.subtextSize | times: 100 | divided_by: 1440.0 }}vw; 
                color: {{ section.settings.subtextColor }}; 
                line-height: {{ section.settings.subtextLine | times: 100 | divided_by: 1440.0 }}vw;
                text-align: {{ section.settings.subtextAlign }};
                margin-bottom: {{ section.settings.subtextMarBottom | times: 100 | divided_by: 1440.0 }}vw;
              }
              @media only screen and (max-width: 1009px) {
                .subtext-{{ section.id }} {
                  margin: 0; 
                  letter-spacing: {{ section.settings.subtextLetterMob }}px; 
                  font-size: {{ section.settings.subtextSizeMob }}px; 
                  color: {{ section.settings.subtextColorMob }}; 
                  line-height: {{ section.settings.subtextLineMob }}px;
                  text-align: {{ section.settings.subtextAlignMob }};
                  margin-bottom: {{ section.settings.subtextMarBottomMob }}px;
                }
              }
            </style>
        {% endif %}
    </div>
    <div class="boxDiv-{{ section.id }} secondImagesection">
      {% if section.settings.image2 != blank %}
      <img class="fullWidth come-in-1 " src="{{ section.settings.image2 | img_url: "1200x" }}">
      {% endif %}
	  {% if section.settings.title2 != blank %}
            <h2 class="GT-600 customHeading come-in-2 heading2-{{ section.id }}">{{ section.settings.title2 }}</h2>
            <style>
              h2.heading2-{{ section.id }} {
                margin: 0; 
                letter-spacing: {{ section.settings.title2Letter }}px; 
                font-size: {{ section.settings.title2Size | times: 100 | divided_by: 1440.0 }}vw; 
                color: {{ section.settings.title2Color }}; 
                line-height: {{ section.settings.title2Line | times: 100 | divided_by: 1440.0 }}vw;
                text-align: {{ section.settings.title2Align }};
                margin-bottom: {{ section.settings.title2MarBottom | times: 100 | divided_by: 1440.0 }}vw;
                margin-top: 32px;
              }
              @media only screen and (max-width: 1009px) {
                h2.heading2-{{ section.id }} {
                  margin: 0; 
                  letter-spacing: {{ section.settings.title2LetterMob }}px; 
                  font-size: {{ section.settings.title2SizeMob }}px; 
                  color: {{ section.settings.title2ColorMob }}; 
                  line-height: {{ section.settings.title2LineMob }}px;
                  text-align: {{ section.settings.title2AlignMob }};
                  margin-bottom: {{ section.settings.title2MarBottomMob }}px;
                  margin-top: 32px;
                }
              }
            </style>
        {% endif %}
      {% if section.settings.subtext2 != blank %}
            <p class="subtext2-{{ section.id }} come-in-3 GT-400">
              {{ section.settings.subtext2 }}
      		</p>
            <style>
              .subtext2-{{ section.id }} {
                margin: 0; 
                letter-spacing: {{ section.settings.subtext2Letter }}px; 
                font-size: {{ section.settings.subtext2Size | times: 100 | divided_by: 1440.0 }}vw; 
                color: {{ section.settings.subtext2Color }}; 
                line-height: {{ section.settings.subtext2Line | times: 100 | divided_by: 1440.0 }}vw;
                text-align: {{ section.settings.subtext2Align }};
                margin-bottom: {{ section.settings.subtext2MarBottom | times: 100 | divided_by: 1440.0 }}vw;
              }
              @media only screen and (max-width: 1009px) {
                .subtext2-{{ section.id }} {
                  margin: 0; 
                  letter-spacing: {{ section.settings.subtext2LetterMob }}px; 
                  font-size: {{ section.settings.subtext2SizeMob }}px; 
                  color: {{ section.settings.subtext2ColorMob }}; 
                  line-height: {{ section.settings.subtext2LineMob }}px;
                  text-align: {{ section.settings.subtext2AlignMob }};
                  margin-bottom: {{ section.settings.subtext2MarBottomMob }}px;
                }
              }
            </style>
        {% endif %}
    </div>
  </div>
{% schema %}
  {
    "name": "Founders section",
    "settings": [
		{
          "type": "text",
          "id": "anchor",
          "label": "Anchor for"
        },
		{
          "type": "text",
          "id": "marTop",
          "label": "Top margin (numbers only)"
        },
		{
          "type": "text",
          "id": "marBottom",
          "label": "Bottom margin (numbers only)"
        },
		{
          "type": "text",
          "id": "marTopMob",
          "label": "Top margin mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "marBottomMob",
          "label": "Bottom margin mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "padTop",
          "label": "Top padding (numbers only)"
        },
		{
          "type": "text",
          "id": "padBottom",
          "label": "Bottom padding (numbers only)"
        },
		{
          "type": "text",
          "id": "padLeft",
          "label": "Left padding (numbers only)",
		  "default": "145"
        },
		
		{
          "type": "text",
          "id": "padRight",
          "label": "Right padding (numbers only)",
	      "default": "145"
        },
		{
          "type": "text",
          "id": "padTopMob",
          "label": "Top padding mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "padBottomMob",
          "label": "Bottom padding mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "padLeftMob",
          "label": "Left padding mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "padRightMob",
          "label": "Right padding mobile (numbers only)"
        },
		{
          "type": "color",
          "id": "backgroundColor",
          "label": "Background color"
        },
		{
          "type": "header",
          "content": "Title Desktop"
        },
        {
          "type": "text",
          "id": "mainTitle",
          "label": "Heading"
        },
		{
          "type": "text",
          "id": "mainTitleSize",
          "label": "Heading Size (numbers only)"
        },
		{
          "type": "text",
          "id": "mainTitleLine",
          "label": "Heading Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "mainTitleLetter",
          "label": "Heading Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "mainTitleColor",
          "label": "Heading color"
        },
		{
          "type": "select",
          "id": "mainTitleAlign",
          "label": "Title align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "mainTitleMarBottom",
          "label": "Title bottom margin (numbers only)"
        },
        {
          "type": "header",
          "content": "Title Mobile"
        },
		{
          "type": "text",
          "id": "mainTitleSizeMob",
          "label": "Heading Size (numbers only)"
        },
		{
          "type": "text",
          "id": "mainTitleLineMob",
          "label": "Heading Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "mainTitleLetterMob",
          "label": "Heading Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "mainTitleColorMob",
          "label": "Heading color"
        },
		{
          "type": "select",
          "id": "mainTitleAlignMob",
          "label": "Title align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "mainTitleMarBottomMob",
          "label": "Title bottom margin mobile (numbers only)"
        },
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
		{
          "type": "text",
          "id": "textWidth",
          "label": "First image width (0-100)"
        },
		{
          "type": "text",
          "id": "textMargin",
          "label": "First image margin right (0-100)"
        },
		{
          "type": "text",
          "id": "textWidthMob",
          "label": "First image mobile width (0-100)"
        },
		{
          "type": "text",
          "id": "textMarginMob",
          "label": "First image margin right (0-100)"
        },
		{
          "type": "header",
          "content": "Title Desktop"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
		{
          "type": "text",
          "id": "titleSize",
          "label": "Heading Size (numbers only)"
        },
		{
          "type": "text",
          "id": "titleLine",
          "label": "Heading Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "titleLetter",
          "label": "Heading Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "titleColor",
          "label": "Heading color"
        },
		{
          "type": "select",
          "id": "titleAlign",
          "label": "Title align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "titleMarBottom",
          "label": "Title bottom margin (numbers only)"
        },
        {
          "type": "header",
          "content": "Title Mobile"
        },
		{
          "type": "text",
          "id": "titleSizeMob",
          "label": "Heading Size (numbers only)"
        },
		{
          "type": "text",
          "id": "titleLineMob",
          "label": "Heading Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "titleLetterMob",
          "label": "Heading Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "titleColorMob",
          "label": "Heading color"
        },
		{
          "type": "select",
          "id": "titleAlignMob",
          "label": "Title align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "titleMarBottomMob",
          "label": "Title bottom margin mobile (numbers only)"
        },
		{
          "type": "header",
          "content": "Subtitle Desktop"
        },
        {
          "type": "text",
          "id": "subtext",
          "label": "Subtitle",
          "default": "Slide title"
        },
		{
          "type": "text",
          "id": "subtextSize",
          "label": "Subtitle Size (numbers only)"
        },
		{
          "type": "text",
          "id": "subtextLine",
          "label": "Subtitle Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "subtextLetter",
          "label": "Subtitle Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "subtextColor",
          "label": "Subtitle color"
        },
		{
          "type": "select",
          "id": "subtextAlign",
          "label": "Subtitle align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "subtextMarBottom",
          "label": "Subtitle bottom margin (numbers only)"
        },
        {
          "type": "header",
          "content": "Subtitle Mobile"
        },
		{
          "type": "text",
          "id": "subtextSizeMob",
          "label": "Subtitle Size (numbers only)"
        },
		{
          "type": "text",
          "id": "subtextLineMob",
          "label": "Subtitle Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "subtextLetterMob",
          "label": "Subtitle Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "subtextColorMob",
          "label": "Subtitle color"
        },
		{
          "type": "select",
          "id": "subtextAlignMob",
          "label": "Subtitle align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "subtextMarBottomMob",
          "label": "Subtitle mobile bottom margin (numbers only)"
        },
		{
          "type": "image_picker",
          "id": "image2",
          "label": "Image 2"
        },
		{
          "type": "header",
          "content": "Title Desktop"
        },
        {
          "type": "text",
          "id": "title2",
          "label": "Heading"
        },
		{
          "type": "text",
          "id": "title2Size",
          "label": "Heading Size (numbers only)"
        },
		{
          "type": "text",
          "id": "title2Line",
          "label": "Heading Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "title2Letter",
          "label": "Heading Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "title2Color",
          "label": "Heading color"
        },
		{
          "type": "select",
          "id": "title2Align",
          "label": "Title align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "title2MarBottom",
          "label": "Title bottom margin (numbers only)"
        },
        {
          "type": "header",
          "content": "Title Mobile"
        },
		{
          "type": "text",
          "id": "title2SizeMob",
          "label": "Heading Size (numbers only)"
        },
		{
          "type": "text",
          "id": "title2LineMob",
          "label": "Heading Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "title2LetterMob",
          "label": "Heading Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "title2ColorMob",
          "label": "Heading color"
        },
		{
          "type": "select",
          "id": "title2AlignMob",
          "label": "Title align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "title2MarBottomMob",
          "label": "Title bottom margin mobile (numbers only)"
        },
		{
          "type": "header",
          "content": "Subtitle Desktop"
        },
        {
          "type": "text",
          "id": "subtext2",
          "label": "Subtitle2",
          "default": "Slide title2"
        },
		{
          "type": "text",
          "id": "subtext2Size",
          "label": "Subtitle Size (numbers only)"
        },
		{
          "type": "text",
          "id": "subtext2Line",
          "label": "Subtitle Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "subtext2Letter",
          "label": "Subtitle Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "subtext2Color",
          "label": "Subtitle color"
        },
		{
          "type": "select",
          "id": "subtext2Align",
          "label": "Subtitle align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "subtext2MarBottom",
          "label": "Subtitle bottom margin (numbers only)"
        },
        {
          "type": "header",
          "content": "Subtitle Mobile"
        },
		{
          "type": "text",
          "id": "subtext2SizeMob",
          "label": "Subtitle Size (numbers only)"
        },
		{
          "type": "text",
          "id": "subtext2LineMob",
          "label": "Subtitle Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "subtext2LetterMob",
          "label": "Subtitle Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "subtext2ColorMob",
          "label": "Subtitle color"
        },
		{
          "type": "select",
          "id": "subtext2AlignMob",
          "label": "Subtitle align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "subtext2MarBottomMob",
          "label": "Subtitle mobile bottom margin (numbers only)"
        }
	],
    "presets": [
      {
        "category": "About",
        "name": "Founders section",
        "settings": {}
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
