<style>
  #shopify-section-{{ section.id }} {
    margin-top: {{ section.settings.marTop | times: 100 | divided_by: 1440.0 }}vw;
    margin-bottom: {{ section.settings.marBottom | times: 100 | divided_by: 1440.0 }}vw;
    padding-top: {{ section.settings.padTop | times: 100 | divided_by: 1440.0 }}vw;
    padding-bottom: {{ section.settings.padBottom | times: 100 | divided_by: 1440.0 }}vw;
    background-color: {{ section.settings.backgroundColor }};
  }

  .template-index .homepagefullImageSlider .slick-track{
    max-height:100%;
  }
  
 @media only screen and (min-width: 1009px) {
{% comment %}   .fullheightvh  {height: 100vh;} {% endcomment %}
   .fullImageSlider .sliderMain {margin: 0px;}
 }
  @media only screen and (max-width: 1009px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ section.settings.marTopMob }}px;
      margin-bottom: {{ section.settings.marBottomMob }}px;
      padding-top: {{ section.settings.padTopMob }}px;
      padding-bottom: {{ section.settings.padBottomMob }}px;
      padding-left: 20px;
    }
    #shopify-section-{{ section.id }} .sliderColumn {
    	margin-right: 20px;
    }
    #shopify-section-{{ section.id }} .lineWithNumbers2 {
    	width: 35px!important;
      	margin-left: auto!important;
      	margin-right: auto;
      	left: -30px;
    }
    #shopify-section-{{ section.id }} .subSlick2 {
    	margin-left: auto;
      	margin-right: auto;
    }
    #shopify-section-{{ section.id }} .lottieDiv {
    	display: none!important;
    }
  }

  #shopify-section-{{ section.id }} .lottieDiv {
    	display: none!important;
    }
  
</style>
<div class="downLottie lottieDiv">
    <lottie-player src="https://cdn.shopify.com/s/files/1/0580/5994/8228/files/data_43e1281e-7697-4957-af84-bb9a77b82a3e.json?v=1640090445" background="transparent"  speed="1"  style="width: 100px; height: 100px;" loop autoplay></lottie-player>
  </div>
<div class="boxContainer fullImageSlider fullheightvh homepagefullImageSlider">
  <div class="sliderMain sliderMain-{{ section.id }}">
    {% for block in section.blocks %}
    <div class="sliderColumn fullWidth  {% if forloop.last %}lastOf{% endif %}">
      	{% if block.settings.image != blank %}
            <div class="fullWidth">
            <img class="fullWidth image-{{ block.id }}" src="{{ block.settings.image | img_url: "1500x" }}">
           <h5 class="clientnameinslider text_information text-1661411292794b3728 come-in-3 GT-300">{{ block.settings.title }}</h5>
            <style>
              .image-{{ block.id }} {
                margin-bottom: {{ block.settings.imgMarBottom | times: 100 | divided_by: 1366.0 }}vw;
              }
              @media only screen and (max-width: 1009px) {
                .image-{{ block.id }} {
                  margin-right: 0px;
                }
              }
            </style>
            </div>
        {% endif %}
    </div>
   
    {% endfor %}
    
  </div>
  {%- if section.settings.enable_carousel_arrows -%}

    <div class="arrow-container">
      <button class="slick-prev" aria-label="{{ 'home_page.slideshow.previous_slide' | t }}" data-slide-previous>
        <span class="icon icon-slide-prev" aria-hidden="true"></span>
      </button>
      <button class="slick-next" aria-label="{{ 'home_page.slideshow.next_slide' | t }}" data-slide-previous>
        <span class="icon icon-slide-next" aria-hidden="true"></span>
      </button>
    </div>
    <style>
      .arrow-container{
        position:absolute;
        width: 100%;
        height: 100%;
      }

      button.slick-prev,  button.slick-next  {
        top: 35%;
        width: 100px;
        height: 100px;
        background-color: rgba(0,0,0,0.4);
        }
      button.slick-prev {
        left:1%;
      }
      button.slick-next {
        right:10%;
      }
        button.slick-prev > .icon-slide-prev::before, button.slick-next > .icon-slide-next::before {
          color: #ffffff !important;
          font-size: 25px !important;
          margin: 2px;
        }

      .fullWidth{
        padding-right: 10px;
      }
  </style>
  <script>
    $(document).ready(function(){
      $('.sliderMain-{{ section.id }}').slick({
        dots: false,
     
        autoplay: true,
        autoplaySpeed:5000,

        slidesToShow:1.2,
        initialSlide: 0,
        slidesToScroll: 1,
        arrows: true,
        prevArrow: $('button.slick-prev'),
        nextArrow: $('button.slick-next'),
        infinite: false,
        adaptiveHeight: true,
        responsive: [
          {
            breakpoint: 1009,
            settings: {
              slidesToShow: 1.1,
              slidesToScroll: 1
            }
          }
        ]
      });
      $(".slickNumber2").click(function(){
        $(".slickNumber2").removeClass("active");
        $(this).addClass("active");
        let num = Number($(this).attr("number"));
		$('.sliderMain-{{ section.id }}').slick('slickGoTo', num);
	  });
    });
  </script>

  {%- else -%}

  <div class="colRight">
    <div class="subSlickHolder2 verticalCenter">
        <div class="lineWithNumbers2" style="display: flex; align-items: center; width: 100%;">
          <div style="height: 1px; width: 50%; background: #C3C3C3;"></div>
          <div style="height: 3px; width: 50%; background: #000000;"></div>
        </div>
    <div blocklimit="{{ section.blocks.size }}" class="subSlick2 subSlick-{{ section.id }}">
            {% for block in section.blocks %}
          		<p number="{% if forloop.last %}{{ forloop.index | minus: 1 }}{% else %}{{ forloop.index | minus: 1 }}{% endif %}" class="slickNumber2 GT-400 {% if forloop.first %}active{% endif %}">0{{ forloop.index }}</p>
          	{% endfor %}
        </div>
    </div>
  </div>
  
  <script>
    $(document).ready(function(){
      $('.sliderMain-{{ section.id }}').slick({
        dots: false,
     
  autoplay: true,
       autoplaySpeed:5000,

        slidesToShow:1.4,
        initialSlide: 0,
        slidesToScroll: 1,
        arrows: false,
        
        infinite: false,
        adaptiveHeight: true,
        responsive: [
          {
            breakpoint: 1009,
            settings: {
              slidesToShow: 1.1,
              slidesToScroll: 1
            }
          }
        ]
      });
      $(".slickNumber2").click(function(){
        $(".slickNumber2").removeClass("active");
        $(this).addClass("active");
        let num = Number($(this).attr("number"));
		$('.sliderMain-{{ section.id }}').slick('slickGoTo', num);
	  });
    });
  </script>

  {%- endif -%}

</div>
{% schema %}
  {
    "name": "Full Image",
	"class": "noCursor",
    "settings": [
    {
      "type": "checkbox",
      "id": "enable_carousel_arrows",
      "label": "Enable Previous and Next slide arrows"
        },  
		{
          "type": "text",
          "id": "marTop",
          "label": "Top margin (numbers only)"
        },
		{
          "type": "text",
          "id": "marBottom",
          "label": "Bottom margin (numbers only)"
        },
		{
          "type": "text",
          "id": "marTopMob",
          "label": "Top margin mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "marBottomMob",
          "label": "Bottom margin mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "padTop",
          "label": "Top padding (numbers only)"
        },
		{
          "type": "text",
          "id": "padBottom",
          "label": "Bottom padding (numbers only)"
        },
		{
          "type": "text",
          "id": "padTopMob",
          "label": "Top padding mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "padBottomMob",
          "label": "Bottom padding mobile (numbers only)"
        },
		{
          "type": "color",
          "id": "backgroundColor",
          "label": "Background color"
        }
	],
	"blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
          "type": "text",
          "id": "title",
          "label": "Client Name"
        }
        ]
      }
    ],
    "presets": [
      {
        "category": "Facility",
        "name": "Full Image",
        "settings": {}
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
