<style>
  #shopify-section-{{ section.id }} {
    margin-top: {{ section.settings.marTop | times: 100 | divided_by: 1440.0 }}vw;
    margin-bottom: {{ section.settings.marBottom | times: 100 | divided_by: 1440.0 }}vw;
    padding-top: {{ section.settings.padTop | times: 100 | divided_by: 1440.0 }}vw;
    padding-bottom: {{ section.settings.padBottom | times: 100 | divided_by: 1440.0 }}vw;
    position: relative;
    background-color: {{ section.settings.backgroundColor }};
    z-index: 3;
  }
  @media only screen and (max-width: 1009px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ section.settings.marTopMob }}px;
      margin-bottom: {{ section.settings.marBottomMob }}px;
      padding-top: {{ section.settings.padTopMob }}px;
      padding-bottom: {{ section.settings.padBottomMob }}px;
    }
    .imagesHorizontalSlider {
    	width: 100vw;
      	max-width: 100vw;
      	padding-left: 20px;
      	display: flex;
      	overflow-x: scroll;
      	height: 264px;
    }
    .imagesHorizontalSlider img {
    	height: 100%;
      	width: auto;
      	margin-right: 24px;
    }
  }
</style>
{% for block in section.blocks %}
	{% assign topP = 50 | times: forloop.index %}
	{% if block.settings.image != blank %}<img data-bottom-top="transform: translateY(0%)" data-top-bottom="transform: translateY(-{{ topP }}%)" class="desktopClass image-{{ block.id }}" src="{{ block.settings.image | img_url: '700x' }}">{% endif %}
	<style>
      @media only screen and (min-width: 1009px) {
      .image-{{ block.id }} {
        position: absolute;
        {% if block.settings.top != blank %}top: {{ block.settings.top | times: 100 | divided_by: 1440.0 }}vw;{% endif %}
        {% if block.settings.bottom != blank %}bottom: {{ block.settings.bottom | times: 100 | divided_by: 1440.0 }}vw;{% endif %}
        {% if block.settings.left != blank %}left: {{ block.settings.left | times: 100 | divided_by: 1440.0 }}vw;{% endif %}
        {% if block.settings.right != blank %}right: {{ block.settings.right | times: 100 | divided_by: 1440.0 }}vw;{% endif %}
        z-index: {{ block.settings.zIndex }};
        width: {{ block.settings.width | times: 100 | divided_by: 1440.0 }}vw;
      }
      }
	</style>
{% endfor %}
<div class="centeredContainer">
  
</div>
<div class="imagesHorizontalSlider mobileClass">
 {% for block in section.blocks %}
  {% if block.settings.mobile %}
  <img class="image-{{ block.id }}" src="{{ block.settings.image | img_url: '700x' }}">
  {% endif %}
 {% endfor %}
</div>
{% schema %}
  {
    "name": "Parallax Images Section",
    "settings": [
		{
          "type": "text",
          "id": "marTop",
          "label": "Top margin (numbers only)"
        },
		{
          "type": "text",
          "id": "marBottom",
          "label": "Bottom margin (numbers only)"
        },
		{
          "type": "text",
          "id": "marTopMob",
          "label": "Top margin mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "marBottomMob",
          "label": "Bottom margin mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "padTop",
          "label": "Top padding (numbers only)"
        },
		{
          "type": "text",
          "id": "padBottom",
          "label": "Bottom padding (numbers only)"
        },
		{
          "type": "text",
          "id": "padTopMob",
          "label": "Top padding mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "padBottomMob",
          "label": "Bottom padding mobile (numbers only)"
        },
		{
          "type": "color",
          "id": "backgroundColor",
          "label": "Background color"
        }
	],
	"blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "checkbox",
            "id": "mobile",
            "label": "Enable on mobile",
			"default": true
          },
          {
            "type": "text",
            "id": "top",
            "label": "Top position"
          },
		  {
            "type": "text",
            "id": "left",
            "label": "Left position"
          },
		  {
            "type": "text",
            "id": "right",
            "label": "Right position"
          },
		  {
            "type": "text",
            "id": "bottom",
            "label": "Bottom position"
          },
		  {
            "type": "text",
            "id": "zIndex",
            "label": "Z index",
			"default": "2"
          },
		  {
            "type": "text",
            "id": "width",
            "label": "Width (numbers only)"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
	"presets": [
      {
        "category": "Homepage",
        "name": "Parallax Images Section",
        "settings": {}
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

