<style>
  #shopify-section-{{ section.id }} {
    margin-top: {{ section.settings.marTop | times: 100 | divided_by: 1440.0 }}vw;
    margin-bottom: {{ section.settings.marBottom | times: 100 | divided_by: 1440.0 }}vw;
    padding-top: {{ section.settings.padTop | times: 100 | divided_by: 1440.0 }}vw;
    padding-bottom: {{ section.settings.padBottom | times: 100 | divided_by: 1440.0 }}vw;
    padding-left: {{ section.settings.padLeft | times: 100 | divided_by: 1440.0 }}vw;
    padding-right: {{ section.settings.padRight | times: 100 | divided_by: 1440.0 }}vw;
    background-color: {{ section.settings.backgroundColor }};
    {% if template contains "careers" %}
    z-index: 3;
    {% endif %}
  }

  #shopify-section-{{ section.id }} .flexDiv {
  
  }

@media only screen and (min-width: 1009px) {
  #shopify-section-{{ section.id }} .flexDiv{
    align-items: center;
  }
}
  @media only screen and (max-width: 1008px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ section.settings.marTopMob }}px;
      margin-bottom: {{ section.settings.marBottomMob }}px;
      padding-top: {{ section.settings.padTopMob }}px;
      padding-bottom: {{ section.settings.padBottomMob }}px;
      padding-left: {{ section.settings.padLeftMob }}px;
      padding-right: {{ section.settings.padRightMob }}px;
    }

#shopify-section-template--{{ section.id }} {
  padding-top:37px;
}
  
  }
</style>
<div class="flexDiv fullWidth applyAnimation{% if section.settings.reverse_order %} reverseOrder{% endif %}">
    <div class="textDiv-{{ section.id }} come-in-1">
    <style>
      {% assign boxDiv = 100 | minus: section.settings.textWidth | minus: section.settings.textMargin %}
      {% assign boxDiv2 = 100 | minus: section.settings.textWidthMob | minus: section.settings.textMarginMob %}
      .textDiv-{{ section.id }} {
        width: {{ section.settings.textWidth }}%;
        margin-right: {{ section.settings.textMargin }}%;
        {% if template contains "careers" %}
        margin-bottom: -5.48vw;
        {% endif %}
      }
      .boxDiv-{{ section.id }} {
        width: {{ boxDiv }}%;
      }
      @media only screen and (max-width: 1008px) {
      .textDiv-{{ section.id }} {
      	width: {{ section.settings.textWidthMob }}%;
        margin-right: {{ section.settings.textMarginMob }}%;
      }
        .boxDiv-{{ section.id }} {
        	margin-top: 21px;
        }
      {% if boxDiv2 <= 0 %}
        .boxDiv-{{ section.id }} {
        	width: 100%;
        }
      {% else %}
        .boxDiv-{{ section.id }} {
        	width: {{ boxDiv2 }}%;
        }
      {% endif %}
      }
      .reverseOrder {
        flex-flow: row-reverse;
      }
    </style>
      {% if section.settings.image != blank %}
      <img class="fullWidth" src="{{ section.settings.image | img_url: "1600x" }}">
      {% endif %}
    </div>
    <div class="boxDiv-{{ section.id }}">
      {% assign lastf = 0 %}
      {% for block in section.blocks %}
            {% if block.settings.heading != blank %}
            <h2 class="heading-{{ block.id }}">{{block.settings.heading}}</h2>
  <style>
              h2.heading-{{ block.id }} {
                font-family: 'GT Walsheim Pro';
              }
              @media only screen and (min-width:1009px) {
                h2.heading-{{ block.id }} {
                font-weight:{{ block.settings.heading-weight }};
                text-align:{{ block.settings.heaindsubtextAlign }};
                font-size:{{ block.settings.headtextSize | times: 100 | divided_by: 1440.0 }}vw; 
                color:{{ block.settings.headtextColor }};
                line-height:{{ block.settings.heading-line-height }}%;
                letter-spacing:{{ block.settings.heading-letter-spacing }}em;
                margin-bottom: 34px;
                }
              }
              @media only screen and (max-width:1008px) {
                h2.heading-{{ block.id }} {
                font-weight:{{ block.settings.heading-weight-mobile }};
                text-align:{{ block.settings.heaindsubtextAlign_mobile }};
                font-size:{{ block.settings.headtextSizeMobile | times: 100 | divided_by: 375.0 }}vw; 
                color:{{ block.settings.headtextColorMob }};
                line-height:{{ block.settings.heading-line-height-mobile }}%;
                letter-spacing:{{ block.settings.heading-letter-spacing-mobile }}em;
                margin-bottom: 21px;
                }
              }
              </style>
            {% endif %}
           {% if block.settings.subtext != blank %}
            <p class="subtext-{{ block.id }} GT-{{ block.settings.weight }} come-in-{{ forloop.index }}">
              {{ block.settings.subtext | newline_to_br }}
      		</p>
            <style>
                 .subtext-{{ block.id }} {
                margin: 0; 
                letter-spacing: {{ section.settings.subtextLetter }}em; 
                color: {{ block.settings.subtextColor }}; 
                text-align: {{ block.settings.subtextAlign }};
              }
  
                 @media only screen and (min-width:1009px) {
           .subtext-{{ block.id }} {
                font-size: {{ block.settings.subtextSize | times: 100 | divided_by: 1440.0 }}vw; 
                line-height: {{ block.settings.subtextLine }}%;
               margin-bottom: 34px;
/*                 margin-bottom: {{ block.settings.subtextMarBottom | times: 100 | divided_by: 1440.0 }}vw; */
           }
        }


               @media only screen and (max-width:1008px) { 
             .subtext-{{ block.id }} {
                  margin: 0; 
                  letter-spacing: {{ block.settings.subtextLetterMob }}em; 
                  font-size: {{ block.settings.subtextSizeMob}}px; 
                  color: {{ block.settings.subtextColorMob }}; 
                  line-height: {{ block.settings.subtextLineMob }}%;
                  text-align: {{ block.settings.subtextAlignMob }};
                  margin-bottom: {{ block.settings.subtextMarBottomMob }}px;
                }}
            </style>
        {% endif %}
      {% if forloop.last %}
      	{% assign lastf = forloop.index %}
      {% endif %}
      {% endfor %}
      {% if section.settings.link != blank or section.settings.linkText != blank %}
            <div onclick="location.href='{{ section.settings.link }}'" class="buttonDiv come-in-{{ lastf }} buttonDiv-{{ section.id }}">
            <style>
              .buttonDiv-{{ section.id }} div:after {
              	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='51' height='52' viewBox='0 0 51 52' fill='none'%3E%3Cpath d='M20.9609 32.5547L30.9765 22.5392' stroke='{{ section.blocks.first.settings.subtextColor }}' stroke-width='2'%3E%3C/path%3E%3Cpath d='M21.7665 22.2535H31.2608V31.7478' stroke='{{ section.blocks.first.settings.subtextColor }}' stroke-width='2'%3E%3C/path%3E%3C/svg%3E");
              }
            </style>
            <svg xmlns="http://www.w3.org/2000/svg" width="51" height="52" viewBox="0 0 51 52" fill="none">
            <path d="M20.9609 32.5547L30.9765 22.5392" stroke="{{ section.blocks.first.settings.subtextColor }}" stroke-width="2"/>
            <path d="M21.7665 22.2535H31.2608V31.7478" stroke="{{ section.blocks.first.settings.subtextColor }}" stroke-width="2"/>
            </svg>
            <div style="min-height: 52px; color: {{ section.blocks.first.settings.subtextColor }};" class="GT-600">{{ section.settings.linkText }}</div>
          </div>
            {% endif %}
    </div>
  </div>
{% schema %}
  {
    "name": "SecondImagetext",
    "settings": [
		{
          "type": "text",
          "id": "marTop",
          "label": "Top margin (numbers only)"
        },
		{
          "type": "text",
          "id": "marBottom",
          "label": "Bottom margin (numbers only)"
        },
		{
          "type": "text",
          "id": "marTopMob",
          "label": "Top margin mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "marBottomMob",
          "label": "Bottom margin mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "padTop",
          "label": "Top padding (numbers only)"
        },
		{
          "type": "text",
          "id": "padBottom",
          "label": "Bottom padding (numbers only)"
        },
		{
          "type": "text",
          "id": "padLeft",
          "label": "Left padding (numbers only)",
		  "default": "145"
        },
		{
          "type": "text",
          "id": "padRight",
          "label": "Right padding (numbers only)",
	      "default": "145"
        },
		{
          "type": "text",
          "id": "padTopMob",
          "label": "Top padding mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "padBottomMob",
          "label": "Bottom padding mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "padLeftMob",
          "label": "Left padding mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "padRightMob",
          "label": "Right padding mobile (numbers only)"
        },
		{
          "type": "color",
          "id": "backgroundColor",
          "label": "Background color"
        },
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
      {
        "type": "checkbox",
        "id": "reverse_order",
        "label": "Reverse Order"
      },
		{
          "type": "text",
          "id": "textWidth",
          "label": "Image part width (0-100)"
        },
		{
          "type": "text",
          "id": "textMargin",
          "label": "Image part margin right (0-100)"
        },
		{
          "type": "text",
          "id": "textWidthMob",
          "label": "Image part mobile width (0-100)"
        },
		{
          "type": "text",
          "id": "textMarginMob",
          "label": "Image part margin right (0-100)"
        },
		{
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "linkText",
          "label": "Link text"
        }
	],
	"blocks": [
      {
        "type": "Block",
        "name": "Text block",
        "settings": [
          {
          "type": "header",
          "content": "Text Desktop"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Title Heading",
          "default": "Slide title"
        },
        {
          "type": "text",
          "id": "headtextSize",
          "label": "Text Size (numbers only)"
        },
        {
          "type": "text",
          "id": "headtextSizeMobile",
          "label": "Mobile Text Size (numbers only)"
        },
        {
          "type": "text",
          "id": "heading-weight",
          "label": "Text Weight (100-900)"
        },
        {
          "type": "text",
          "id": "heading-weight-mobile",
          "label": "Text Weight (100-900) Mobile"
        },
        {
          "type": "text",
          "id": "heading-line-height",
          "label": "Desk Head Line Height"
        },
        {
          "type": "text",
          "id": "heading-line-height-mobile",
          "label": "Mobile Head Line Height"
        },
        {
          "type": "text",
          "id": "heading-letter-spacing",
          "label": "Desk Letter Spacing"
        },
          {
          "type": "text",
          "id": "heading-letter-spacing-mobile",
          "label": "Letter Spacing Mobile"
        },
        {
          "type": "color",
          "id": "headtextColor",
          "label": "Desk Text color"
        },
        {
          "type": "color",
          "id": "headtextColorMob",
          "label": "Mob Text color"
        },
        {
          "type": "select",
          "id": "heaindsubtextAlign",
          "label": "Heading Text align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
           {
          "type": "select",
          "id": "heaindsubtextAlign_mobile",
          "label": "Heading Text align Mobile",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
        {
          "type": "textarea",
          "id": "subtext",
          "label": "Text",
          "default": "Slide title"
        },
		{
          "type": "text",
          "id": "weight",
          "label": "Text Weight (100-900)"
        },
		{
          "type": "text",
          "id": "subtextSize",
          "label": "Text Size (numbers only)"
        },
		{
          "type": "text",
          "id": "subtextLine",
          "label": "Text Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "subtextLetter",
          "label": "Text Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "subtextColor",
          "label": "Text color"
        },
		{
          "type": "select",
          "id": "subtextAlign",
          "label": "Text align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "subtextMarBottom",
          "label": "Text bottom margin (numbers only)"
        },
        {
          "type": "header",
          "content": "Text Mobile"
        },
		{
          "type": "text",
          "id": "subtextSizeMob",
          "label": "Text Size (numbers only)"
        },
		{
          "type": "text",
          "id": "subtextLineMob",
          "label": "Text Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "subtextLetterMob",
          "label": "Text Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "subtextColorMob",
          "label": "Text color"
        },
		{
          "type": "select",
          "id": "subtextAlignMob",
          "label": "Text align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "subtextMarBottomMob",
          "label": "Text mobile bottom margin (numbers only)"
        }
        ]
      }
    ],
    "presets": [
      {
        "category": "Careers",
        "name": "SecondImagetext",
        "settings": {}
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
