<style>
 #shopify-section-{{ section.id }} {
   background-color: {{ section.settings.backgroundColor }};
    position: relative;
     z-index: 3;
 }
@media only screen and (min-width:1009px) {
  #shopify-section-{{ section.id }} {
    margin-top: {{ section.settings.marTop | times: 100 | divided_by: 1440.0 }}vw;
    margin-bottom: {{ section.settings.marBottom | times: 100 | divided_by: 1440.0 }}vw;
    padding-top: {{ section.settings.padTop | times: 100 | divided_by: 1440.0 }}vw;
    padding-bottom: {{ section.settings.padBottom | times: 100 | divided_by: 1440.0 }}vw;
  }
}

 @media only screen and (max-width: 1008px) {
    #shopify-section-{{ section.id }} {
      margin-top: {{ section.settings.marTopMob }}px;
      margin-bottom: {{ section.settings.marBottomMob }}px;
      padding-top: {{ section.settings.padTopMob }}px;
      padding-bottom: {{ section.settings.padBottomMob }}px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
</style>
{% for block in section.blocks %}
	{% if block.settings.image != blank %}<img data-bottom-top="transform: translateY(0%)" data-top-bottom="transform: translateY(-50%)" class="image-{{ block.id }}" src="{{ block.settings.image | img_url: '700x' }}">{% endif %}
	<style>
       @media only screen and (min-width: 1009px) {
      .image-{{ block.id }} {
        position: absolute;
        {% if block.settings.top != blank %}top: {{ block.settings.top | times: 100 | divided_by: 1440.0 }}vw;{% endif %}
        {% if block.settings.bottom != blank %}bottom: {{ block.settings.bottom | times: 100 | divided_by: 1440.0 }}vw;{% endif %}
        {% if block.settings.left != blank %}left: {{ block.settings.left | times: 100 | divided_by: 1440.0 }}vw;{% endif %}
        {% if block.settings.right != blank %}right: {{ block.settings.right | times: 100 | divided_by: 1440.0 }}vw;{% endif %}
        z-index: {{ block.settings.zIndex }};
        width: {{ block.settings.width | times: 100 | divided_by: 1440.0 }}vw;
      }
      }
      @media only screen and (max-width: 1008px) {
      	.image-{{ block.id }} {
        position: absolute;
        {% if block.settings.topMob != blank %}top: {{ block.settings.topMob }}px;{% endif %}
        {% if block.settings.bottomMob != blank %}bottom: {{ block.settings.bottomMob }}px;{% endif %}
        {% if block.settings.leftMob != blank %}left: {{ block.settings.leftMob }}px;{% endif %}
        {% if block.settings.rightMob != blank %}right: {{ block.settings.rightMob  }}px;{% endif %}
        z-index: {{ block.settings.zIndex }};
        width: {{ block.settings.widthMob }}px;
      }
      }
      
	</style>
{% endfor %}
<div class="centeredContainer applyAnimation" id="test" style="padding: 0 10.2vw;">

  {% if section.settings.title != blank %}
            <h2 class="come-in-1 GT-400 customHeading heading-{{ section.id }}">{{ section.settings.title }}</h2>
            <style>
     
        
         @media only screen and (min-width: 1009px) {
          h2.heading-{{ section.id }} {
            margin: 0; 
            letter-spacing: {{ section.settings.titleLetter }}em; 
            font-size: {{ section.settings.titleSize | times: 100 | divided_by: 1440.0 }}vw; 
            color: {{ section.settings.titleColor }}; 
            line-height: {{ section.settings.titleLine | times: 100 | divided_by: 1440.0 }}vw;
            text-align: {{ section.settings.titleAlign }};
            margin-bottom: {{ section.settings.titleMarBottom | times: 100 | divided_by: 1440.0 }}vw;
          }
        }
        
        @media only screen and (max-width:1008px) {
                h2.heading-{{ section.id }} {
                  margin: 0; 
                  letter-spacing: {{ section.settings.titleLetterMob }}px; 
                  font-size: {{ section.settings.titleSizeMob }}px; 
                  color: {{ section.settings.titleColorMob }}; 
                  line-height: {{ section.settings.titleLineMob }}px;
                  text-align: {{ section.settings.titleAlignMob }};
                  margin-bottom: {{ section.settings.titleMarBottomMob }}px;
                }
              }
            </style>
        {% endif %}
        
  {% if section.settings.subtext != blank %}
            <h5 class="come-in-2 applyAnimation subtext-{{ section.id }} GT-600">
              {{ section.settings.subtext }}
      		</h5>
            <style>
  @media only screen and (min-width: 1009px) {
             h5.subtext-{{ section.id }} {
                margin: 0; 
                letter-spacing: {{ section.settings.subtextLetter }}px; 
                font-size: {{ section.settings.subtextSize | times: 100 | divided_by: 1440.0 }}vw; 
                color: {{ section.settings.subtextColor }}; 
                line-height: {{ section.settings.subtextLine | times: 100 | divided_by: 1440.0 }}vw;
                text-align: {{ section.settings.subtextAlign }};
                margin-bottom: {{ section.settings.subtextMarBottom | times: 100 | divided_by: 1440.0 }}vw;
              }        
  }
              @media only screen and (max-width:1008px) {
                h5.subtext-{{ section.id }} {
                  margin: 0; 
                  letter-spacing: {{ section.settings.subtextLetterMob }}px; 
                  font-size: {{ section.settings.subtextSizeMob }}px; 
                  color: {{ section.settings.subtextColorMob }}; 
                  line-height: {{ section.settings.subtextLineMob }}px;
                  text-align: {{ section.settings.subtextAlignMob }};
                  margin-bottom: {{ section.settings.subtextMarBottomMob }}px;
                }
              }
            </style>
        {% endif %}
  {% if section.settings.text != blank %}
          <div class="come-in-3 applyAnimation textHolder-{{ section.id }}">
            <p class="GT-300 text-{{ section.id }}">{{ section.settings.text }}</p>
          </div>
            <style>
     @media only screen and (min-width: 1009px) {
              .text-{{ section.id }} {
                margin: 0; 
                letter-spacing: {{ section.settings.textLetter }}px; 
                font-size: {{ section.settings.textSize | times: 100 | divided_by: 1440.0 }}vw; 
                color: {{ section.settings.textColor }}; 
                line-height: {{ section.settings.textLine | times: 100 | divided_by: 1440.0 }}vw;
                text-align: {{ section.settings.textAlign }};
                margin-bottom: {{ section.settings.textMarBottom | times: 100 | divided_by: 1440.0 }}vw!important;
              }
     }
              
             @media only screen and (max-width:1008px) {
                .text-{{ section.id }} {
                  margin: 0; 
                  letter-spacing: {{ section.settings.textLetterMob }}px; 
                  font-size: {{ section.settings.textSizeMob }}px; 
                  color: {{ section.settings.textColorMob }}; 
                  line-height: {{ section.settings.textLineMob }}px;
                  text-align: {{ section.settings.textAlignMob }};
                  margin:0 auto {{ section.settings.textMarBottomMob }}px!important;
                  max-width:299px;
                }
              }
            </style>
        {% endif %}
        
  <div {% if template contains 'portfolio' %}style="margin-bottom: 40px;"{% endif %} class="applyAnimation socialHolder">
    <a class="instagramLink" href="{{ section.settings.instagram }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="155" height="52" viewBox="0 0 155 52" fill="none">
    <path opacity="0.5" d="M51 1H1V51H51" stroke="white"/>
    <path d="M20.9609 32.5547L30.9765 22.5392" stroke="white" stroke-width="2"/>
    <path d="M21.7665 22.2535H31.2608V31.7478" stroke="white" stroke-width="2"/>
    <path d="M68.0216 21.2035H69.6871V31H68.0216V21.2035ZM72.4252 24.4783H73.9506V25.388C74.1559 25.0334 74.4405 24.7675 74.8043 24.5903C75.1682 24.4037 75.5927 24.3104 76.0779 24.3104C76.5537 24.3104 76.9502 24.3897 77.2675 24.5483C77.594 24.7069 77.8506 24.9215 78.0372 25.192C78.1958 25.4346 78.3031 25.7052 78.3591 26.0038C78.4244 26.3023 78.457 26.6755 78.457 27.1234V31H76.9316V27.6272C76.9316 27.3473 76.9083 27.086 76.8616 26.8435C76.815 26.6009 76.7356 26.3956 76.6237 26.2277C76.5211 26.0504 76.3764 25.9105 76.1898 25.8078C76.0126 25.7052 75.7886 25.6539 75.5181 25.6539C74.9863 25.6539 74.5897 25.8452 74.3285 26.2277C74.0766 26.6009 73.9506 27.0674 73.9506 27.6272V31H72.4252V24.4783ZM84.0598 27.3193C84.2837 27.4033 84.5029 27.4919 84.7175 27.5852C84.9321 27.6785 85.1234 27.7951 85.2913 27.9351C85.4593 28.075 85.5899 28.243 85.6832 28.4389C85.7858 28.6348 85.8371 28.8821 85.8371 29.1806C85.8371 29.5165 85.7672 29.8104 85.6272 30.0623C85.4966 30.3142 85.31 30.5242 85.0674 30.6921C84.8342 30.8507 84.5589 30.9673 84.2417 31.042C83.9245 31.126 83.5886 31.1679 83.2341 31.1679C82.8795 31.1679 82.5436 31.1166 82.2264 31.014C81.9092 30.9114 81.6246 30.7621 81.3727 30.5662C81.1301 30.3609 80.9342 30.1136 80.7849 29.8244C80.645 29.5259 80.575 29.1853 80.575 28.8028H82.0585C82.0585 29.232 82.1751 29.5352 82.4083 29.7125C82.6509 29.8804 82.9542 29.9644 83.318 29.9644C83.6166 29.9644 83.8685 29.9084 84.0738 29.7964C84.279 29.6845 84.3817 29.4885 84.3817 29.2086C84.3817 29.0594 84.3397 28.9381 84.2557 28.8448C84.1717 28.7515 84.0458 28.6675 83.8778 28.5928C83.7099 28.5089 83.5 28.4249 83.2481 28.3409C82.9961 28.257 82.6976 28.1497 82.3524 28.0191C82.1284 27.9351 81.9185 27.8464 81.7226 27.7531C81.536 27.6505 81.3727 27.5339 81.2328 27.4033C81.0928 27.2726 80.9855 27.1094 80.9109 26.9134C80.8362 26.7175 80.7989 26.4796 80.7989 26.1997C80.7989 25.8918 80.8642 25.6212 80.9948 25.388C81.1255 25.1547 81.3027 24.9588 81.5267 24.8002C81.7506 24.6322 82.0072 24.511 82.2964 24.4363C82.5949 24.3523 82.9122 24.3104 83.2481 24.3104C83.5933 24.3104 83.9151 24.3663 84.2137 24.4783C84.5216 24.5903 84.7875 24.7442 85.0114 24.9401C85.2354 25.1361 85.4126 25.3693 85.5432 25.6399C85.6739 25.9105 85.7392 26.2044 85.7392 26.5216H84.2557C84.2557 26.2137 84.1717 25.9711 84.0038 25.7938C83.8452 25.6072 83.5793 25.5139 83.2061 25.5139C82.9448 25.5139 82.7209 25.5746 82.5343 25.6959C82.357 25.8172 82.2684 25.9944 82.2684 26.2277C82.2684 26.3676 82.3057 26.4843 82.3804 26.5776C82.455 26.6615 82.567 26.7408 82.7162 26.8155C82.8655 26.8808 83.0521 26.9554 83.276 27.0394C83.5 27.114 83.7612 27.2073 84.0598 27.3193ZM91.5535 31C91.4322 31.0187 91.2689 31.0373 91.0636 31.056C90.8584 31.0746 90.6438 31.084 90.4199 31.084C90.2333 31.084 90.0187 31.0653 89.7761 31.028C89.5335 31 89.3003 30.9114 89.0763 30.7621C88.8617 30.6128 88.6798 30.3842 88.5305 30.0763C88.3813 29.7684 88.3066 29.3393 88.3066 28.7888V25.7519H87.201V24.4783H88.3066V22.505H89.8321V24.4783H91.3295V25.7519H89.8321V28.4389C89.8321 28.7188 89.8507 28.9427 89.8881 29.1107C89.9347 29.2786 90 29.4092 90.084 29.5025C90.168 29.5865 90.2659 29.6425 90.3779 29.6705C90.4992 29.6985 90.6345 29.7125 90.7837 29.7125C90.905 29.7125 91.045 29.7078 91.2036 29.6985C91.3622 29.6891 91.4788 29.6751 91.5535 29.6565V31ZM99.808 24.4783V31H98.2826V30.1183C98.0773 30.4449 97.7834 30.7014 97.4009 30.888C97.0277 31.0746 96.6498 31.1679 96.2673 31.1679C95.7728 31.1679 95.3203 31.0793 94.9098 30.902C94.4992 30.7154 94.1447 30.4635 93.8461 30.1463C93.5569 29.8291 93.3283 29.4652 93.1604 29.0547C93.0018 28.6442 92.9225 28.2057 92.9225 27.7391C92.9225 27.282 93.0018 26.8481 93.1604 26.4376C93.3283 26.0178 93.5569 25.6492 93.8461 25.332C94.1447 25.0148 94.4992 24.7675 94.9098 24.5903C95.3203 24.4037 95.7728 24.3104 96.2673 24.3104C96.6498 24.3104 97.0277 24.4037 97.4009 24.5903C97.7834 24.7769 98.0773 25.0334 98.2826 25.36V24.4783H99.808ZM96.3513 29.8104C96.6405 29.8104 96.9017 29.7544 97.135 29.6425C97.3776 29.5305 97.5828 29.3812 97.7508 29.1946C97.9187 29.008 98.0493 28.7888 98.1426 28.5369C98.2359 28.285 98.2826 28.0191 98.2826 27.7391C98.2826 27.4592 98.2359 27.1933 98.1426 26.9414C98.0493 26.6895 97.9187 26.4703 97.7508 26.2837C97.5828 26.0971 97.3776 25.9478 97.135 25.8358C96.9017 25.7239 96.6405 25.6679 96.3513 25.6679C96.062 25.6679 95.8008 25.7239 95.5675 25.8358C95.3343 25.9478 95.1337 26.0971 94.9657 26.2837C94.7978 26.4703 94.6672 26.6895 94.5739 26.9414C94.4899 27.1933 94.4479 27.4592 94.4479 27.7391C94.4479 28.0191 94.4899 28.285 94.5739 28.5369C94.6672 28.7888 94.7978 29.008 94.9657 29.1946C95.1337 29.3812 95.3343 29.5305 95.5675 29.6425C95.8008 29.7544 96.062 29.8104 96.3513 29.8104ZM105.484 25.6679C105.194 25.6679 104.933 25.7239 104.7 25.8358C104.467 25.9478 104.266 26.0971 104.098 26.2837C103.93 26.4703 103.8 26.6895 103.706 26.9414C103.622 27.1933 103.58 27.4592 103.58 27.7391C103.58 28.0191 103.622 28.285 103.706 28.5369C103.8 28.7888 103.93 29.008 104.098 29.1946C104.266 29.3812 104.467 29.5305 104.7 29.6425C104.933 29.7544 105.194 29.8104 105.484 29.8104C105.773 29.8104 106.034 29.7544 106.267 29.6425C106.51 29.5305 106.715 29.3812 106.883 29.1946C107.051 29.008 107.182 28.7888 107.275 28.5369C107.368 28.285 107.415 28.0191 107.415 27.7391C107.415 27.4592 107.368 27.1933 107.275 26.9414C107.182 26.6895 107.051 26.4703 106.883 26.2837C106.715 26.0971 106.51 25.9478 106.267 25.8358C106.034 25.7239 105.773 25.6679 105.484 25.6679ZM108.968 31.3219C108.968 31.8724 108.884 32.3435 108.716 32.7354C108.558 33.1272 108.329 33.4491 108.031 33.701C107.732 33.953 107.368 34.1396 106.939 34.2609C106.51 34.3821 106.02 34.4428 105.47 34.4428C104.919 34.4428 104.443 34.3635 104.042 34.2049C103.641 34.0556 103.305 33.855 103.034 33.6031C102.764 33.3512 102.554 33.0619 102.405 32.7354C102.265 32.4182 102.185 32.087 102.167 31.7417H103.706C103.744 32.0963 103.907 32.4042 104.196 32.6654C104.485 32.936 104.905 33.0713 105.456 33.0713C106.071 33.0713 106.552 32.9313 106.897 32.6514C107.242 32.3808 107.415 31.9377 107.415 31.3219V30.1183C107.21 30.4449 106.916 30.7014 106.533 30.888C106.16 31.0746 105.782 31.1679 105.4 31.1679C104.905 31.1679 104.453 31.0793 104.042 30.902C103.632 30.7154 103.277 30.4635 102.978 30.1463C102.689 29.8291 102.461 29.4652 102.293 29.0547C102.134 28.6442 102.055 28.2057 102.055 27.7391C102.055 27.282 102.134 26.8481 102.293 26.4376C102.461 26.0178 102.689 25.6492 102.978 25.332C103.277 25.0148 103.632 24.7675 104.042 24.5903C104.453 24.4037 104.905 24.3104 105.4 24.3104C105.782 24.3104 106.16 24.4037 106.533 24.5903C106.916 24.7769 107.21 25.0334 107.415 25.36V24.4783H108.94L108.968 31.3219ZM115.778 25.8918C115.657 25.8638 115.555 25.8452 115.471 25.8358C115.396 25.8265 115.298 25.8218 115.177 25.8218C114.524 25.8218 114.024 26.0131 113.679 26.3956C113.334 26.7688 113.161 27.3659 113.161 28.187V31H111.636V24.4783H113.161V25.5279C113.236 25.3786 113.339 25.2387 113.469 25.1081C113.609 24.9681 113.768 24.8468 113.945 24.7442C114.132 24.6322 114.328 24.5483 114.533 24.4923C114.748 24.427 114.962 24.3943 115.177 24.3943C115.419 24.3943 115.62 24.427 115.778 24.4923V25.8918ZM123.816 24.4783V31H122.29V30.1183C122.085 30.4449 121.791 30.7014 121.408 30.888C121.035 31.0746 120.657 31.1679 120.275 31.1679C119.78 31.1679 119.328 31.0793 118.917 30.902C118.507 30.7154 118.152 30.4635 117.854 30.1463C117.564 29.8291 117.336 29.4652 117.168 29.0547C117.009 28.6442 116.93 28.2057 116.93 27.7391C116.93 27.282 117.009 26.8481 117.168 26.4376C117.336 26.0178 117.564 25.6492 117.854 25.332C118.152 25.0148 118.507 24.7675 118.917 24.5903C119.328 24.4037 119.78 24.3104 120.275 24.3104C120.657 24.3104 121.035 24.4037 121.408 24.5903C121.791 24.7769 122.085 25.0334 122.29 25.36V24.4783H123.816ZM120.359 29.8104C120.648 29.8104 120.909 29.7544 121.143 29.6425C121.385 29.5305 121.59 29.3812 121.758 29.1946C121.926 29.008 122.057 28.7888 122.15 28.5369C122.243 28.285 122.29 28.0191 122.29 27.7391C122.29 27.4592 122.243 27.1933 122.15 26.9414C122.057 26.6895 121.926 26.4703 121.758 26.2837C121.59 26.0971 121.385 25.9478 121.143 25.8358C120.909 25.7239 120.648 25.6679 120.359 25.6679C120.07 25.6679 119.808 25.7239 119.575 25.8358C119.342 25.9478 119.141 26.0971 118.973 26.2837C118.805 26.4703 118.675 26.6895 118.581 26.9414C118.497 27.1933 118.455 27.4592 118.455 27.7391C118.455 28.0191 118.497 28.285 118.581 28.5369C118.675 28.7888 118.805 29.008 118.973 29.1946C119.141 29.3812 119.342 29.5305 119.575 29.6425C119.808 29.7544 120.07 29.8104 120.359 29.8104ZM134.781 31V27.3473C134.781 26.8248 134.683 26.4143 134.487 26.1157C134.301 25.8078 133.993 25.6539 133.564 25.6539C133.368 25.6539 133.186 25.6865 133.018 25.7519C132.859 25.8172 132.715 25.9291 132.584 26.0877C132.463 26.2463 132.365 26.4563 132.29 26.7175C132.225 26.9694 132.192 27.2913 132.192 27.6832V31H130.667V27.3333C130.667 26.8108 130.573 26.4003 130.387 26.1017C130.21 25.8032 129.906 25.6539 129.477 25.6539C129.281 25.6539 129.099 25.6865 128.931 25.7519C128.763 25.8172 128.614 25.9291 128.483 26.0877C128.362 26.2463 128.264 26.4563 128.19 26.7175C128.115 26.9694 128.078 27.2913 128.078 27.6832V31H126.552V24.4783H128.078V25.388C128.218 25.0894 128.446 24.8375 128.763 24.6322C129.09 24.4177 129.468 24.3104 129.897 24.3104C130.494 24.3104 130.951 24.4223 131.269 24.6462C131.586 24.8702 131.814 25.1454 131.954 25.4719C132.113 25.1454 132.369 24.8702 132.724 24.6462C133.079 24.4223 133.489 24.3104 133.956 24.3104C134.441 24.3104 134.837 24.3897 135.145 24.5483C135.453 24.6976 135.691 24.8935 135.859 25.1361C136.036 25.3786 136.153 25.6539 136.209 25.9618C136.274 26.2603 136.307 26.5636 136.307 26.8715V31H134.781Z" fill="white"/>
    <rect x="51" y="1" width="103" height="50" stroke="white" stroke-opacity="0.5"/>
    <rect width="18" height="18" transform="translate(17 17)" fill="black"/>
    <path d="M26 18.65C28.4 18.65 28.7 18.65 29.675 18.725C32.15 18.8 33.275 20 33.35 22.4C33.425 23.375 33.425 23.6 33.425 26C33.425 28.4 33.425 28.7 33.35 29.6C33.275 32 32.075 33.2 29.675 33.275C28.7 33.35 28.475 33.35 26 33.35C23.6 33.35 23.3 33.35 22.4 33.275C19.925 33.2 18.8 32 18.725 29.6C18.65 28.625 18.65 28.4 18.65 26C18.65 23.6 18.65 23.3 18.725 22.4C18.8 20 20 18.8 22.4 18.725C23.3 18.65 23.6 18.65 26 18.65ZM26 17C23.525 17 23.225 17 22.325 17.075C19.025 17.225 17.225 19.025 17.075 22.325C17 23.225 17 23.525 17 26C17 28.475 17 28.775 17.075 29.675C17.225 32.975 19.025 34.775 22.325 34.925C23.225 35 23.525 35 26 35C28.475 35 28.775 35 29.675 34.925C32.975 34.775 34.775 32.975 34.925 29.675C35 28.775 35 28.475 35 26C35 23.525 35 23.225 34.925 22.325C34.775 19.025 32.975 17.225 29.675 17.075C28.775 17 28.475 17 26 17ZM26 21.35C23.45 21.35 21.35 23.45 21.35 26C21.35 28.55 23.45 30.65 26 30.65C28.55 30.65 30.65 28.55 30.65 26C30.65 23.45 28.55 21.35 26 21.35ZM26 29C24.35 29 23 27.65 23 26C23 24.35 24.35 23 26 23C27.65 23 29 24.35 29 26C29 27.65 27.65 29 26 29ZM30.8 20.15C30.2 20.15 29.75 20.6 29.75 21.2C29.75 21.8 30.2 22.25 30.8 22.25C31.4 22.25 31.85 21.8 31.85 21.2C31.85 20.6 31.4 20.15 30.8 20.15Z" fill="#F4F0EA"/>
    </svg>
    </a>
    <a class="pinterestLink" href="{{ section.settings.pinterest }}">
    <svg xmlns="http://www.w3.org/2000/svg" width="159" height="52" viewBox="0 0 159 52" fill="none">
    <path opacity="0.5" d="M51 1H1V51H51" stroke="white"/>
    <path d="M20.9609 32.5547L30.9765 22.5392" stroke="white" stroke-width="2"/>
    <path d="M21.7665 22.2535H31.2608V31.7478" stroke="white" stroke-width="2"/>
    <path d="M72.0216 21.2035H75.5344C76.0569 21.2035 76.5281 21.2968 76.9479 21.4834C77.3771 21.6606 77.741 21.9079 78.0395 22.2251C78.3474 22.5423 78.5807 22.9109 78.7393 23.3307C78.9072 23.7412 78.9912 24.1751 78.9912 24.6322C78.9912 25.0987 78.9072 25.5373 78.7393 25.9478C78.5807 26.3583 78.3474 26.7222 78.0395 27.0394C77.741 27.3566 77.3771 27.6085 76.9479 27.7951C76.5281 27.9724 76.0569 28.061 75.5344 28.061H73.6311V31H72.0216V21.2035ZM75.5344 26.6195C75.8143 26.6195 76.0662 26.5682 76.2901 26.4656C76.5234 26.3536 76.7193 26.209 76.8779 26.0318C77.0365 25.8452 77.1578 25.6352 77.2418 25.402C77.3351 25.1594 77.3817 24.9028 77.3817 24.6322C77.3817 24.3617 77.3351 24.1098 77.2418 23.8765C77.1578 23.6339 77.0365 23.424 76.8779 23.2467C76.7193 23.0601 76.5234 22.9155 76.2901 22.8129C76.0662 22.7009 75.8143 22.6449 75.5344 22.6449H73.6311V26.6195H75.5344ZM81.0583 24.4783H82.5838V31H81.0583V24.4783ZM80.6944 22.0991C80.6944 21.7819 80.8017 21.516 81.0163 21.3014C81.2402 21.0775 81.5061 20.9655 81.814 20.9655C82.1313 20.9655 82.3972 21.0775 82.6117 21.3014C82.8357 21.516 82.9476 21.7819 82.9476 22.0991C82.9476 22.407 82.8357 22.6729 82.6117 22.8969C82.3972 23.1114 82.1313 23.2187 81.814 23.2187C81.5061 23.2187 81.2402 23.1114 81.0163 22.8969C80.8017 22.6729 80.6944 22.407 80.6944 22.0991ZM85.3252 24.4783H86.8506V25.388C87.0559 25.0334 87.3404 24.7675 87.7043 24.5903C88.0682 24.4037 88.4927 24.3104 88.9779 24.3104C89.4537 24.3104 89.8502 24.3897 90.1674 24.5483C90.494 24.7069 90.7506 24.9215 90.9372 25.192C91.0958 25.4346 91.2031 25.7052 91.2591 26.0038C91.3244 26.3023 91.357 26.6755 91.357 27.1234V31H89.8316V27.6272C89.8316 27.3473 89.8082 27.086 89.7616 26.8435C89.7149 26.6009 89.6356 26.3956 89.5237 26.2277C89.421 26.0504 89.2764 25.9105 89.0898 25.8078C88.9126 25.7052 88.6886 25.6539 88.4181 25.6539C87.8862 25.6539 87.4897 25.8452 87.2285 26.2277C86.9766 26.6009 86.8506 27.0674 86.8506 27.6272V31H85.3252V24.4783ZM97.6035 31C97.4822 31.0187 97.319 31.0373 97.1137 31.056C96.9084 31.0746 96.6938 31.084 96.4699 31.084C96.2833 31.084 96.0687 31.0653 95.8262 31.028C95.5836 31 95.3503 30.9114 95.1264 30.7621C94.9118 30.6128 94.7299 30.3842 94.5806 30.0763C94.4313 29.7684 94.3567 29.3393 94.3567 28.7888V25.7519H93.2511V24.4783H94.3567V22.505H95.8821V24.4783H97.3796V25.7519H95.8821V28.4389C95.8821 28.7188 95.9008 28.9427 95.9381 29.1107C95.9848 29.2786 96.0501 29.4092 96.134 29.5025C96.218 29.5865 96.316 29.6425 96.4279 29.6705C96.5492 29.6985 96.6845 29.7125 96.8338 29.7125C96.9551 29.7125 97.095 29.7078 97.2536 29.6985C97.4123 29.6891 97.5289 29.6751 97.6035 29.6565V31ZM102.177 25.458C101.702 25.458 101.305 25.5932 100.988 25.8638C100.671 26.1344 100.512 26.5356 100.512 27.0674H103.759C103.759 26.5636 103.61 26.1717 103.311 25.8918C103.022 25.6026 102.644 25.458 102.177 25.458ZM100.512 28.201C100.531 28.4342 100.573 28.6535 100.638 28.8588C100.703 29.064 100.801 29.246 100.932 29.4046C101.072 29.5538 101.249 29.6751 101.464 29.7684C101.678 29.8524 101.944 29.8944 102.261 29.8944C102.7 29.8944 103.017 29.8104 103.213 29.6425C103.409 29.4745 103.554 29.2739 103.647 29.0407H105.186C105.14 29.3206 105.037 29.5912 104.878 29.8524C104.729 30.1043 104.529 30.3282 104.277 30.5242C104.025 30.7201 103.731 30.8787 103.395 31C103.059 31.112 102.681 31.1679 102.261 31.1679C101.711 31.1679 101.23 31.0793 100.82 30.902C100.419 30.7248 100.083 30.4822 99.8122 30.1743C99.5417 29.8664 99.3364 29.5025 99.1964 29.0827C99.0658 28.6628 99.0005 28.215 99.0005 27.7391C99.0005 27.254 99.0705 26.8015 99.2104 26.3816C99.3597 25.9618 99.5696 25.5979 99.8402 25.29C100.111 24.9821 100.447 24.7442 100.848 24.5763C101.249 24.399 101.706 24.3104 102.219 24.3104C102.639 24.3104 103.031 24.385 103.395 24.5343C103.768 24.6836 104.09 24.8935 104.361 25.1641C104.641 25.4253 104.855 25.7332 105.004 26.0877C105.163 26.4423 105.242 26.8295 105.242 27.2493C105.242 27.3613 105.238 27.4966 105.228 27.6552C105.228 27.8045 105.21 27.9864 105.172 28.201H100.512ZM111.74 25.8918C111.618 25.8638 111.516 25.8452 111.432 25.8358C111.357 25.8265 111.259 25.8218 111.138 25.8218C110.485 25.8218 109.985 26.0131 109.64 26.3956C109.295 26.7688 109.122 27.3659 109.122 28.187V31H107.597V24.4783H109.122V25.5279C109.197 25.3786 109.3 25.2387 109.43 25.1081C109.57 24.9681 109.729 24.8468 109.906 24.7442C110.093 24.6322 110.289 24.5483 110.494 24.4923C110.709 24.427 110.923 24.3943 111.138 24.3943C111.38 24.3943 111.581 24.427 111.74 24.4923V25.8918ZM116.164 25.458C115.688 25.458 115.292 25.5932 114.975 25.8638C114.657 26.1344 114.499 26.5356 114.499 27.0674H117.746C117.746 26.5636 117.596 26.1717 117.298 25.8918C117.009 25.6026 116.631 25.458 116.164 25.458ZM114.499 28.201C114.518 28.4342 114.559 28.6535 114.625 28.8588C114.69 29.064 114.788 29.246 114.919 29.4046C115.059 29.5538 115.236 29.6751 115.451 29.7684C115.665 29.8524 115.931 29.8944 116.248 29.8944C116.687 29.8944 117.004 29.8104 117.2 29.6425C117.396 29.4745 117.54 29.2739 117.634 29.0407H119.173C119.127 29.3206 119.024 29.5912 118.865 29.8524C118.716 30.1043 118.515 30.3282 118.264 30.5242C118.012 30.7201 117.718 30.8787 117.382 31C117.046 31.112 116.668 31.1679 116.248 31.1679C115.698 31.1679 115.217 31.0793 114.807 30.902C114.406 30.7248 114.07 30.4822 113.799 30.1743C113.529 29.8664 113.323 29.5025 113.183 29.0827C113.053 28.6628 112.987 28.215 112.987 27.7391C112.987 27.254 113.057 26.8015 113.197 26.3816C113.347 25.9618 113.557 25.5979 113.827 25.29C114.098 24.9821 114.434 24.7442 114.835 24.5763C115.236 24.399 115.693 24.3104 116.206 24.3104C116.626 24.3104 117.018 24.385 117.382 24.5343C117.755 24.6836 118.077 24.8935 118.347 25.1641C118.627 25.4253 118.842 25.7332 118.991 26.0877C119.15 26.4423 119.229 26.8295 119.229 27.2493C119.229 27.3613 119.225 27.4966 119.215 27.6552C119.215 27.8045 119.197 27.9864 119.159 28.201H114.499ZM124.551 27.3193C124.775 27.4033 124.994 27.4919 125.209 27.5852C125.423 27.6785 125.614 27.7951 125.782 27.9351C125.95 28.075 126.081 28.243 126.174 28.4389C126.277 28.6348 126.328 28.8821 126.328 29.1806C126.328 29.5165 126.258 29.8104 126.118 30.0623C125.988 30.3142 125.801 30.5242 125.558 30.6921C125.325 30.8507 125.05 30.9673 124.733 31.042C124.416 31.126 124.08 31.1679 123.725 31.1679C123.371 31.1679 123.035 31.1166 122.717 31.014C122.4 30.9114 122.116 30.7621 121.864 30.5662C121.621 30.3609 121.425 30.1136 121.276 29.8244C121.136 29.5259 121.066 29.1853 121.066 28.8028H122.55C122.55 29.232 122.666 29.5352 122.899 29.7125C123.142 29.8804 123.445 29.9644 123.809 29.9644C124.108 29.9644 124.36 29.9084 124.565 29.7964C124.77 29.6845 124.873 29.4885 124.873 29.2086C124.873 29.0594 124.831 28.9381 124.747 28.8448C124.663 28.7515 124.537 28.6675 124.369 28.5928C124.201 28.5089 123.991 28.4249 123.739 28.3409C123.487 28.257 123.189 28.1497 122.843 28.0191C122.619 27.9351 122.41 27.8464 122.214 27.7531C122.027 27.6505 121.864 27.5339 121.724 27.4033C121.584 27.2726 121.477 27.1094 121.402 26.9134C121.327 26.7175 121.29 26.4796 121.29 26.1997C121.29 25.8918 121.355 25.6212 121.486 25.388C121.617 25.1547 121.794 24.9588 122.018 24.8002C122.242 24.6322 122.498 24.511 122.787 24.4363C123.086 24.3523 123.403 24.3104 123.739 24.3104C124.084 24.3104 124.406 24.3663 124.705 24.4783C125.013 24.5903 125.279 24.7442 125.502 24.9401C125.726 25.1361 125.904 25.3693 126.034 25.6399C126.165 25.9105 126.23 26.2044 126.23 26.5216H124.747C124.747 26.2137 124.663 25.9711 124.495 25.7938C124.336 25.6072 124.07 25.5139 123.697 25.5139C123.436 25.5139 123.212 25.5746 123.025 25.6959C122.848 25.8172 122.759 25.9944 122.759 26.2277C122.759 26.3676 122.797 26.4843 122.871 26.5776C122.946 26.6615 123.058 26.7408 123.207 26.8155C123.357 26.8808 123.543 26.9554 123.767 27.0394C123.991 27.114 124.252 27.2073 124.551 27.3193ZM132.045 31C131.923 31.0187 131.76 31.0373 131.555 31.056C131.349 31.0746 131.135 31.084 130.911 31.084C130.724 31.084 130.51 31.0653 130.267 31.028C130.025 31 129.791 30.9114 129.567 30.7621C129.353 30.6128 129.171 30.3842 129.022 30.0763C128.872 29.7684 128.798 29.3393 128.798 28.7888V25.7519H127.692V24.4783H128.798V22.505H130.323V24.4783H131.821V25.7519H130.323V28.4389C130.323 28.7188 130.342 28.9427 130.379 29.1107C130.426 29.2786 130.491 29.4092 130.575 29.5025C130.659 29.5865 130.757 29.6425 130.869 29.6705C130.99 29.6985 131.125 29.7125 131.275 29.7125C131.396 29.7125 131.536 29.7078 131.695 29.6985C131.853 29.6891 131.97 29.6751 132.045 29.6565V31Z" fill="white"/>
    <rect x="51" y="1" width="102" height="50" stroke="white" stroke-opacity="0.5"/>
    <g clip-path="url(#clip0_64_1499)">
    <rect width="18" height="18" transform="translate(17 17)" fill="black"/>
    <path d="M17 26.0001C17 29.6855 19.2161 32.8515 22.3873 34.2435C22.362 33.6151 22.3828 32.8606 22.5439 32.1768C22.717 31.4462 23.702 27.2727 23.702 27.2727C23.702 27.2727 23.4145 26.698 23.4145 25.8487C23.4145 24.5149 24.1875 23.5188 25.1502 23.5188C25.9689 23.5188 26.3644 24.1337 26.3644 24.87C26.3644 25.6929 25.8395 26.9239 25.5695 28.064C25.3441 29.0187 26.0482 29.7974 26.9901 29.7974C28.6953 29.7974 29.8438 27.6073 29.8438 25.0123C29.8438 23.0398 28.5152 21.5634 26.0988 21.5634C23.3687 21.5634 21.6679 23.5993 21.6679 25.8735C21.6679 26.6576 21.8991 27.2106 22.2612 27.6388C22.4277 27.8354 22.4508 27.9145 22.3906 28.1404C22.3474 28.306 22.2483 28.7046 22.2072 28.8626C22.1473 29.0906 21.9626 29.1721 21.7566 29.0879C20.4991 28.5746 19.9135 27.1975 19.9135 25.6495C19.9135 23.0929 22.0697 20.0272 26.3458 20.0272C29.782 20.0272 32.0436 22.5138 32.0436 25.1829C32.0436 28.7135 30.0807 31.3511 27.1874 31.3511C26.2157 31.3511 25.3017 30.8259 24.9886 30.2293C24.9886 30.2293 24.4661 32.303 24.3555 32.7034C24.1646 33.3973 23.7911 34.0909 23.4496 34.6314C24.2591 34.8703 25.1141 35.0005 26.0004 35.0005C30.9703 35.0005 35.0001 30.971 35.0001 26.0001C35.0001 21.0295 30.9703 17 26.0004 17C21.0299 17 17 21.0295 17 26.0001Z" fill="#F4F0EA"/>
    </g>
    <defs>
    <clipPath id="clip0_64_1499">
    <rect width="18" height="18" fill="white" transform="translate(17 17)"/>
    </clipPath>
    </defs>
	</svg>
    </a>
  </div>
  <div class="applyAnimation come-in" id="insta-feed" style="display:none"></div> 
 
</div>
{% schema %}
  {
    "name": "Social Media Section",
    "settings": [
		{
          "type": "text",
          "id": "marTop",
          "label": "Top margin (numbers only)"
        },
		{
          "type": "text",
          "id": "marBottom",
          "label": "Bottom margin (numbers only)"
        },
		{
          "type": "text",
          "id": "marTopMob",
          "label": "Top margin mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "marBottomMob",
          "label": "Bottom margin mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "padTop",
          "label": "Top padding (numbers only)"
        },
		{
          "type": "text",
          "id": "padBottom",
          "label": "Bottom padding (numbers only)"
        },
		{
          "type": "text",
          "id": "padTopMob",
          "label": "Top padding mobile (numbers only)"
        },
		{
          "type": "text",
          "id": "padBottomMob",
          "label": "Bottom padding mobile (numbers only)"
        },
		{
          "type": "color",
          "id": "backgroundColor",
          "label": "Background color"
        },
		{
          "type": "header",
          "content": "Title Desktop"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading"
        },
		{
          "type": "text",
          "id": "titleSize",
          "label": "Heading Size (numbers only)"
        },
		{
          "type": "text",
          "id": "titleLine",
          "label": "Heading Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "titleLetter",
          "label": "Heading Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "titleColor",
          "label": "Heading color"
        },
		{
          "type": "select",
          "id": "titleAlign",
          "label": "Title align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "titleMarBottom",
          "label": "Title bottom margin (numbers only)"
        },
        {
          "type": "header",
          "content": "Title Mobile"
        },
		{
          "type": "text",
          "id": "titleSizeMob",
          "label": "Heading Size (numbers only)"
        },
		{
          "type": "text",
          "id": "titleLineMob",
          "label": "Heading Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "titleLetterMob",
          "label": "Heading Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "titleColorMob",
          "label": "Heading color"
        },
		{
          "type": "select",
          "id": "titleAlignMob",
          "label": "Title align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "titleMarBottomMob",
          "label": "Title bottom margin mobile (numbers only)"
        },
		{
          "type": "header",
          "content": "Subtitle Desktop"
        },
        {
          "type": "text",
          "id": "subtext",
          "label": "Subtitle",
          "default": "Slide title"
        },
		{
          "type": "text",
          "id": "subtextSize",
          "label": "Subtitle Size (numbers only)"
        },
		{
          "type": "text",
          "id": "subtextLine",
          "label": "Subtitle Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "subtextLetter",
          "label": "Subtitle Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "subtextColor",
          "label": "Subtitle color"
        },
		{
          "type": "select",
          "id": "subtextAlign",
          "label": "Subtitle align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "subtextMarBottom",
          "label": "Subtitle bottom margin (numbers only)"
        },
        {
          "type": "header",
          "content": "Subtitle Mobile"
        },
		{
          "type": "text",
          "id": "subtextSizeMob",
          "label": "Subtitle Size (numbers only)"
        },
		{
          "type": "text",
          "id": "subtextLineMob",
          "label": "Subtitle Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "subtextLetterMob",
          "label": "Subtitle Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "subtextColorMob",
          "label": "Subtitle color"
        },
		{
          "type": "select",
          "id": "subtextAlignMob",
          "label": "Subtitle align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "subtextMarBottomMob",
          "label": "Subtitle mobile bottom margin (numbers only)"
        },
		{
          "type": "header",
          "content": "Text Desktop"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Text"
        },
		{
          "type": "text",
          "id": "textSize",
          "label": "Text Size (numbers only)"
        },
		{
          "type": "text",
          "id": "textLine",
          "label": "Text Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "textLetter",
          "label": "Text Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "textColor",
          "label": "Text color"
        },
		{
          "type": "select",
          "id": "textAlign",
          "label": "Text align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "textMarBottom",
          "label": "Text bottom margin (numbers only)"
        },
        {
          "type": "header",
          "content": "Text Mobile"
        },
		{
          "type": "text",
          "id": "textSizeMob",
          "label": "Text Size (numbers only)"
        },
		{
          "type": "text",
          "id": "textLineMob",
          "label": "Text Line Height (numbers only)"
        },
		{
          "type": "text",
          "id": "textLetterMob",
          "label": "Text Letter Spacing (numbers only)"
        },
		{
          "type": "color",
          "id": "textColorMob",
          "label": "Text color"
        },
		{
          "type": "select",
          "id": "textAlignMob",
          "label": "Text align",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        },
		{
          "type": "text",
          "id": "textMarBottomMob",
          "label": "Text bottom margin mobile (numbers only)"
        },
		{
          "type": "url",
          "id": "pinterest",
          "label": "Pinterest"
        },
        {
          "type": "url",
          "id": "instagram",
          "label": "Instagram"
        }
	],
	"blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "text",
            "id": "top",
            "label": "Top position"
          },
		  {
            "type": "text",
            "id": "left",
            "label": "Left position"
          },
		  {
            "type": "text",
            "id": "right",
            "label": "Right position"
          },
		  {
            "type": "text",
            "id": "bottom",
            "label": "Bottom position"
          },
		  {
            "type": "text",
            "id": "topMob",
            "label": "Top mobile position"
          },
		  {
            "type": "text",
            "id": "leftMob",
            "label": "Left mobile position"
          },
		  {
            "type": "text",
            "id": "rightMob",
            "label": "Right mobile position"
          },
		  {
            "type": "text",
            "id": "bottomMob",
            "label": "Bottom mobile position"
          },
		  {
            "type": "text",
            "id": "zIndex",
            "label": "Z index",
			"default": "2"
          },
		  {
            "type": "text",
            "id": "width",
            "label": "Width (numbers only)"
          },
		  {
            "type": "text",
            "id": "widthMob",
            "label": "Width mobile (numbers only)"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
	"presets": [
      {
        "category": "Homepage",
        "name": "Social Media Section",
        "settings": {}
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
